/* ---- particles.js container ---- */

#particles-js {
    z-index: -99999;
    position: absolute;
    width: 100%;
    height: 600vh;
    background-color: #29231f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

a:link {
    color: #ae621f;
}

a:visited {
    color: #854916;
}

a:hover {
    color: #92541d;
}


/* Nav Styles */

.title-bar {
    height: 60px;
    background-image: url(../images/recovered-wood.jpg);
}

.top-bar {
    background-image: url(../images/recovered-wood.jpg);
    height: 60px;
}

.top-bar ul {
    background-color: transparent;
}

.top-bar a {
    color: #e7e2dc;
    font-size: 20px;
    font-weight: 600;
}

.logo {
    height: 50px;
}

.mobile-nav-bar {
    height: 60px;
}


/* Main Content Global Styles */

.grid-container {
    margin-top: 20px;
    width: 50%;
}

.card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5px;
    margin-right: 5px;
}

.card,
.card-divider {
    background-color: #e7e2dc;
}

.wood {
    background-image: url(../images/recovered-wood.jpg);
    width: 100%;
}


/* Global Button styles */

.button {
    background-color: #29231f;
    height: 20%;
}

.button:focus {
    background-color: #161311;
}

.button:active {
    background-color: #161311;
}


/* Index.html styles */

.barhop-main-logo {
    width: 350px;
    margin-right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro-area {
    position: relative;
    margin-bottom: 30px;
}

.intro-area p {
    position: absolute;
    color: #e7e2dc;
    font-size: 180%;
    top: 10%;
    margin-left: 20px;
    text-align: left;
}

.search-card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5px;
    margin-right: 5px;
}

.search-button {
    margin-left: 3px;
    border-radius: 0 5px 5px 0;
    height: 36px;
}

.favorites-button {
    margin-bottom: 20px;
    border-radius: 5px 0 0 5px;
    margin-right: 2px;
}

.route-button {
    margin-bottom: 20px;
    border-radius: 0 5px 5px 0;
    margin-left: 2px;
}


/* Route.html styles */

.map {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.remove-route-button {
    margin-bottom: 16px;
    border-radius: 5px;
    margin: 0 auto;
}


/* Favorite.html styles */

.remove-favorite-button {
    margin-bottom: 16px;
    border-radius: 5px 0 0 5px;
}


/* Media Queries */

@media screen and (max-width: 1022px) {
    /* Index.html styles */
    .intro-area p {
        position: relative;
        text-align: center;
        margin: 0;
    }
    /* Styling top bar with screen size change */
    .top-bar {
        background-color: #e7e2dc;
        height: 60px;
    }
    .top-bar a {
        color: #e7e2dc;
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (max-width: 660px) {
    /* Global styles */
    .grid-container {
        width: 300px;
    }
}