#map {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
}

.color {
    background-color: #e7e2dc;
}

.color-text {
    color: #e7e2dc;
}

.change-button {
    background-color: #29231f;
    margin-right: 3px;
}

.nav-color {
    background-image: url(../images/recovered-wood.jpg);
    );
}

#favorites-button {
    margin-bottom: 16px;
    border-radius: 5px 0 0 5px;
}

#route-button {
    margin-bottom: 16px;
    border-radius: 0 5px 5px 0;
}

#search-button {
    border-radius: 0 5px 5px 0;
    margin-left: 3px;
    height: 36px;
}

a:link {
    color: #ae621f;
}

a:visited {
    color: #854916;
}

a:hover {
    color: #92541d;
}

.card-section {
    width: 90%;
}

.wood {
    background-image: url(../images/recovered-wood.jpg);
    width: 100%;
}

body {
    background-color: #29231f;
}

#remove-route-button {
    margin-bottom: 16px;
    border-radius: 5px;
}

#remove-button {
    width: 118px;
    margin-bottom: 16px;
    border-radius: 5px 0 0 5px;
}